#######################################
# Build folder
#######################################
build

#######################################
# CMake
#######################################
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing


#######################################
# C++
#######################################
*.so
*.o


#######################################
# Python
#######################################
*.pyc

#######################################
# Executables
#######################################
imageTest


#######################################
# Other files
#######################################
*.bin


#######################################
# Sublime text
#######################################
*.sublime-workspace